{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
{% block static %}
 <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
     <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
{% block title %}Log-in{% endblock %}
{% endblock %}
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<br>
<br>
<br>
<div class="col-sm-6 col-sm-offset-3" text-center>
{% if not request.user.is_authenticated %}
<h1>Log-in</h1>
{% if form.errors %}
{% else %}
<p>Please, use the following form to log-in:</p>
{% endif %}
<form action="{% url 'login' %}" method="post" class="form-signin">
{{ form | crispy }}
{% csrf_token %}
<input type="hidden" value={{ next }} name="next">
<p><input type="submit" value="Log-in"></p>
</form>
{% else %}
<p> You are already logged in, Sir!</p>
<p>GO back <a href="{% url 'home' %}">
    Home?
</a></p>
{% endif %}
{% endblock %}
</div>