{% load static %}
<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="{% static 'assets/img/user-13.jpg' %}" alt="" /></a>
                </div>
                <div class="info">
                    {% if request.user.first_name and request.user.last_name %}
                    {{ request.user.first_name }} {{ request.user.last_name }}
                    {% else %}
                    {{ request.user.username }}
                    {% endif %}
                    <small>Groups: {{ request.user.groups.all.0 }}</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="ion-ios-pulse-strong"></i>
                    <span>Actions</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/admin">Admin Dashboard</a></li>
                    <li><a href="/register/">New Patient</a></li>
                    <li><a href="/patients/">Patients</a></li>

                </ul>
            </li>
           
           
           
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>